<!-- shop.html -->

 {% extends "website/base.html" %}

{% load static %}

{% block title %}Shop{% endblock %}

{% block main %}
<div class="small-container">
    <h2 class = "title">Our Range</h2>
    <div class="row-1">

        <div class="products">
            <div class="product-container">
                <!-- Product Image -->
                <img src="{% static 'website/p30.jpg' %}" alt="Product Image">
                
                <!-- Hover Information -->
                <div class="hover-info">
                    <h4>Ruth</h4>
                    <p>R4000.00</p>
                    <p>Description: This is a beautiful product.</p>
                    <p>Availability: In stock</p>
                    <!-- Social Media Icons -->
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
                     <a href="" class="btn">Add to Cart</a>
                </div>
            </div>
        </div>
        

    <div class="products">
        <div class="product-container">
            <!-- Product Image -->
            <img src="{% static 'website/p22.jpg' %}" >
            
            <!-- Hover Information -->
            <div class="hover-info">
              <h4>Cont  </h4>
              <p>R3800.00</p>
                <p>Description: This is a beautiful product.</p>
                <p>Availability: In stock</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
                <a href="" class="btn">Add to Cart</a>
            </div>
        </div>
    </div>

<div class="products">
    <div class="product-container">
        <!-- Product Image -->
        <img src="{% static 'website/p1.jpg' %}" >
        
        <!-- Hover Information -->
        <div class="hover-info">
            <h4>Omi Gold </h4>
            <p>R5000.00</p>
            <p>Description: This is a beautiful product.</p>
            <p>Availability: In stock</p>
            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
            <a href="" class="btn">Add to Cart</a>
        </div>
    </div>
</div>

<div class="products">
    <div class="product-container">
        <!-- Product Image -->
        <img src="{% static 'website/p2.jpg' %}" >
        
        <!-- Hover Information -->
        <div class="hover-info">
            <h4>Omi  </h4>
            <p>R3500.00</p>
            <p>Description: This is a beautiful product.</p>
            <p>Availability: In stock</p>
            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
            <a href="" class="btn">Add to Cart</a>
        </div>
    </div>
</div>
    

    <div class="products">
        <div class="product-container">
            <!-- Product Image -->
            <img src="{% static 'website/p3.jpg' %}" >
            
            <!-- Hover Information -->
            <div class="hover-info">
                <h4>Ngaye  </h4>
                <p>R300.00</p>
                <p>Description: This is a beautiful product.</p>
                <p>Availability: In stock</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
                <a href="" class="btn">Add to Cart</a>
            </div>
        </div>
    </div>

    <div class="products">
        <div class="product-container">
            <!-- Product Image -->
            <img src="{% static 'website/p4.jpg' %}" >
            
            <!-- Hover Information -->
            <div class="hover-info">
                <h4>Athi </h4>
                <p>R1500.00</p>
                <p>Description: This is a beautiful product.</p>
                <p>Availability: In stock</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
                <a href="" class="btn">Add to Cart</a>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="product-container">
            <!-- Product Image -->
            <img src="{% static 'website/p5.jpg' %}" >
            
            <!-- Hover Information -->
            <div class="hover-info">
                <h4>Sese </h4>
                <p>R1000.00</p>
                <p>Description: This is a beautiful product.</p>
                <p>Availability: In stock</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
                <a href="" class="btn">Add to Cart</a>
            </div>
        </div>
    </div>

    <div class="products">
        <div class="product-container">
            <!-- Product Image -->
            <img src="{% static 'website/p6.jpg' %}" >
            
            <!-- Hover Information -->
            <div class="hover-info">
                <h4>Min</h4>
                <p>R1050.00</p>
                <p>Description: This is a beautiful product.</p>
                <p>Availability: In stock</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
                <a href="" class="btn">Add to Cart</a>
            </div>
        </div>
    </div>


    <div class="products">
        <div class="product-container">
            <!-- Product Image -->
            <img src="{% static 'website/p7.jpg' %}" >
            
            <!-- Hover Information -->
            <div class="hover-info">
                
            <h4>Ming</h4>
            <p>R550.00</p>
                <p>Description: This is a beautiful product.</p>
                <p>Availability: In stock</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
                <a href="" class="btn">Add to Cart</a>
            </div>
        </div>
    </div>


    <div class="products">
        <div class="product-container">
            <!-- Product Image -->
            <img src="{% static 'website/p8.jpg' %}" >
            
            <!-- Hover Information -->
            <div class="hover-info">
                <h4>Mingaye </h4>
                <p>R950.00</p>
                <p>Description: This is a beautiful product.</p>
                <p>Availability: In stock</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
                <a href="" class="btn">Add to Cart</a>
            </div>
        </div>
    </div>

    

    <div class="products">
        <div class="product-container">
            <!-- Product Image -->
            <img src="{% static 'website/p9.jpg' %}" >
            
            <!-- Hover Information -->
            <div class="hover-info">
                <h4>Minga</h4>
                <p>R1750.00</p>
                <p>Description: This is a beautiful product.</p>
                <p>Availability: In stock</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
                <a href="" class="btn">Add to Cart</a>
            </div>
        </div>
    </div>



</div>
<!-- templates/footer.html -->
<footer>
    <p class="copyright">2023 All Rights Reserved. </p>
</footer>



{% endblock %} 